body, html{
  height:100%;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  margin: 0px;
  background-color: #fff;
  font-size: 16px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-out;
}

body, a:link, a:visited, a:active {
  color: #ddd;
}

.topbar{
  height: auto;
  background-color: #555;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.topbar::after {
  clear: both;
  content: '';
  display: block;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #efefef;
}



.title{
  background-color: #777;
}


.title, .button {
  padding: 5px 10px;
  /*float:right;*/
}


.dancer{
  cursor: pointer;
  display: block;
  position:absolute;
  -webkit-transition: all 0.3s ease-out;
}




.blinky-dancer {
  background: transparent;
  border: double 10px #fff; 
  border-radius: 50%;
  height: 40px;
  width: 40px;
  z-index: 5;
}

.blinky-dancer:hover {
  border-style: dotted;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
}

/*.blinky-dancer::after {
    -webkit-animation-name: radar;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
    content:'';
  display: block;
  background: #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}*/

.blinky {
  background: url('img/Blinkyold.jpg') top left no-repeat;
  border: none;
  border-radius: 0;
}

.blinky:hover {
  -webkit-animation: none;
  border: none;
}

.spinning-dancer {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
  border: dotted 10px #27AE60; 
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.spinning-dancer::after {
  -webkit-animation-name: radar;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
  content:'';
  display: block;
  background: rgba(255, 255, 255, 0.4);
  border-style: double;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.spinning-dancer:hover::after {
  -webkit-animation-name: radar;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
  content:'';
  display: block;
  background: #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}


.stick-dancer {
  -webkit-animation-name: sideStep;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
  background: #eee;
  border: 0; 
  border-radius: 20px;
  /*padding: 10px;*/
  height: 100px;
  width: 40px;
}

.stick-dancer:hover {
  background: #efefef;
  -webkit-animation-play-state: paused;
}


@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sideStep {
  0% {
    transform: translateX(-20px) rotate(30deg);
  }
  
  100% {
    transform: translateX(20px) rotate(-30deg);
  }
}

@-webkit-keyframes radar {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: scale(8);
    opacity: 0;
  }

}